h1{
    text-align: center;
}

#carsDiv,#selectors{
    text-align: center;
}
table{
    display: inline-block;
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#ffffff ;  
 }
p, label{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
   
}
input{
    margin-bottom: 20px;
    border: 2px solid #77a5fa;
}
.btn{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    background-color: #0027a7;
}
.standard:hover, .funktion:hover{
    border: 2px;
    border-color: #0027a7;
    border-style: solid;
    background-color: #ffffff;
    color: #0027a7;
}
.positiv:hover{
    background-color: #03a303;
}

table{
    margin-top: 20px;
}
table, th, td{    
    border-collapse: collapse;
    text-align: center;
}
#carTableBody th, #carTableBody td:not(:first-child){
    width: 250px;
}
tr{
    height: 35px;
}
#carTableBody tr:nth-child(odd){
    background-color: #97ddf8;
}
#carTableBody tr:nth-child(even){
    background-color: #77a5fa;
}
#carTableBody td:first-child{
    background-color: #ffffff;
    border-right: #0027a7 1px solid;
}
#carTableBody tr:first-child{
    background-color: #0027a7;
    color: #ffffff;
}
#carTableBody td:not(:first-child){
    border-top: #0027a7 1px solid;
    border-bottom: #0027a7 1px solid;
}
#carTableBody td:last-child{
    border-right: #0027a7 1px solid;
}

