h1, p{
    text-align: center;
}
#carsDiv{
    padding-top: 5px;
}
.carTableRow{
    padding-top: 5px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:#ffffff ;  
 }
p, label{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
   
}
input{
    margin-bottom: 20px;
    border: 2px solid #77a5fa;
}
.btn{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    background-color: #0027a7;
}
.funktion:hover{
    border: 2px;
    border-color: #0027a7;
    border-style: solid;
    background-color: #ffffff;
    color: #0027a7;
}
#loginDiv{
    text-align: center;
}